docs/2132026- 2217 Senderos Tannat – Fluxo 2 – Polling Pagar.me v3.json
{
  "name": "Senderos Tannat – Fluxo 2 – Polling Pagar.me v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evento-reserva",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "b1816714-8e75-41ea-a444-d03cc6d64d58",
      "name": "Webhook Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        2272
      ],
      "webhookId": "evento-reserva"
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════════\n// CONFIGURAÇÃO — alterar somente esta seção\n// ══════════════════════════════════════════════════════════\nconst PAGARME_SECRET_KEY   = 'sk_G5ajdgqcpyuyPm4q';\nconst PAGARME_API_URL      = 'https://api.pagar.me/core/v5/orders';\nconst SUCCESS_URL          = 'https://tannat-y-cordero-en-s-o-paulo.vercel.app/success';\nconst MAX_QTY              = 10;\n// ══════════════════════════════════════════════════════════\n\nconst body = $input.first().json.body || $input.first().json;\n\n// Validações\nif (!body.email || !body.email.includes('@'))           throw new Error('Email inválido');\nif (!body.first_name || body.first_name.trim() === '')  throw new Error('Falta nome');\nif (!body.quantity)                                      throw new Error('Falta quantidade');\nif (!body.amount || body.amount <= 0)                   throw new Error('Monto inválido');\n\nconst qty           = Math.min(Math.max(parseInt(body.quantity, 10) || 1, 1), MAX_QTY);\nconst unitPrice     = Math.round((body.amount / body.quantity) * 100); // converte a centavos\nconst totalCentavos = unitPrice * qty;\nconst eventName     = body.event || 'Evento Senderos';\nconst currency      = body.currency || 'BRL';\n\n// IDs\nconst ts      = Date.now();\nconst rand    = Math.random().toString(36).slice(2, 6).toUpperCase();\nconst orderId = 'TANNAT-' + (body.country || 'BR') + '-' + ts + '-' + rand;\n\n// Customer\nconst fullName = (body.first_name + ' ' + (body.last_name || '')).trim();\nconst docClean = body.document ? body.document.replace(/[^0-9]/g, '') : null;\n\n// Telefone — detecta country code do próprio número\nconst phoneRaw    = (body.phone || '').replace(/\\s|-/g, '');\nconst phoneDigits = phoneRaw.replace(/[^0-9]/g, '');\n\nconst phonePrefixes = [\n  { code: '598', country: 'UY' },\n  { code: '549', country: 'AR' },\n  { code: '56',  country: 'CL' },\n  { code: '57',  country: 'CO' },\n  { code: '52',  country: 'MX' },\n  { code: '51',  country: 'PE' },\n  { code: '54',  country: 'AR' },\n  { code: '55',  country: 'BR' },\n];\n\nlet phoneCountryCode = '55';\nlet phoneLocal       = phoneDigits;\n\nif (phoneRaw.startsWith('+') || phoneDigits.length > 11) {\n  for (const prefix of phonePrefixes) {\n    if (phoneDigits.startsWith(prefix.code)) {\n      phoneCountryCode = prefix.code;\n      phoneLocal       = phoneDigits.substring(prefix.code.length);\n      break;\n    }\n  }\n}\n\nconst areaCode = phoneLocal.substring(0, 2);\nconst phoneNum = phoneLocal.substring(2);\n\nconst selectedCountry = body.country || 'BR';\n\n// Payload Pagar.me\nconst orderPayload = {\n  code: orderId,\n  items: [{\n    amount:      unitPrice,\n    description: eventName,\n    quantity:    qty\n  }],\n  customer: {\n    name:          fullName,\n    email:         body.email.toLowerCase().trim(),\n    type:          docClean ? 'individual' : undefined,\n    document:      docClean || undefined,\n    document_type: docClean ? 'CPF' : undefined,\n    phones: {\n      mobile_phone: {\n        country_code: phoneCountryCode,\n        area_code:    areaCode,\n        number:       phoneNum\n      }\n    }\n  },\n  payments: [{\n    payment_method: 'checkout',\n    amount: totalCentavos,\n    checkout: {\n      customer_editable:          false,\n      skip_checkout_success_page: false,\n      accepted_payment_methods:   ['credit_card', 'pix'],\n      success_url:                SUCCESS_URL,\n      billing_address_editable:   false,\n      billing_address: {\n        line_1:   'Av. Brigadeiro Faria Lima, 2369',\n        line_2:   'Itaim Bibi',\n        zip_code: '01452922',\n        city:     'São Paulo',\n        state:    'SP',\n        country:  'BR'\n      },\n      pix: { expires_in: 900 },\n      credit_card: {\n        capture:              true,\n        statement_descriptor: 'SENDEROS SP',\n        installments: [{ number: 1, total: totalCentavos }]\n      }\n    }\n  }],\n  metadata: {\n    source:   'landing_tannat',\n    order_id: orderId,\n    country:  selectedCountry,\n    phone:    body.phone || ''\n  }\n};\n\n// Auth Basic (sk_xxx + ':')\nconst authB64 = Buffer.from(PAGARME_SECRET_KEY + ':').toString('base64');\n\n// Linha para tabela n8n\nconst tableRow = {\n  order_id:    orderId,\n  full_name:   fullName,\n  email:       body.email.toLowerCase().trim(),\n  phone:       body.phone || '',\n  country:     selectedCountry,\n  quantity:    qty,\n  amount:      totalCentavos,\n  currency:    currency,\n  status:      'PENDING',\n  ticket_code: '',\n  paid_at:     '',\n  created_at:  new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    api_url:     PAGARME_API_URL,\n    auth_header: 'Basic ' + authB64,\n    order_body:  orderPayload,\n    order_id:    orderId,\n    tableRow\n  }\n}];"
      },
      "id": "8b79528e-3c75-413c-a4a6-6aa615587cbb",
      "name": "Validar + Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        2272
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "G54MoIeu3HbdTkhn",
          "mode": "list",
          "cachedResultName": "pagarme reservas",
          "cachedResultUrl": "/projects/0NEY04N1YceyjALO/datatables/G54MoIeu3HbdTkhn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.tableRow.order_id }}",
            "full_name": "={{ $json.tableRow.full_name }}",
            "email": "={{ $json.tableRow.email }}",
            "phone": "={{ $json.tableRow.phone }}",
            "country": "={{ $json.tableRow.country }}",
            "quantity": "={{ $json.tableRow.quantity }}",
            "amount": "={{ $json.tableRow.amount }}",
            "currency": "={{ $json.tableRow.currency }}",
            "status": "={{ $json.tableRow.status }}",
            "ticket_code": "={{ $json.tableRow.ticket_code }}",
            "paid_at": "={{ $json.tableRow.paid_at }}",
            "created_at": "={{ $json.tableRow.created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            },
            {
              "id": "email",
              "displayName": "email",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            },
            {
              "id": "country",
              "displayName": "country",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "type": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "type": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            },
            {
              "id": "ticket_code",
              "displayName": "ticket_code",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            },
            {
              "id": "paid_at",
              "displayName": "paid_at",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7ac75cad-1288-4df4-a35f-4142f9b60f0d",
      "name": "Tabela — Inserir PENDING",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        608,
        2272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Validar + Build Payload').item.json.api_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Validar + Build Payload').item.json.auth_header }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Validar + Build Payload').item.json.order_body) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "9dfa5e93-6393-465f-a256-cb76b2c4a4de",
      "name": "Pagar.me — Criar Pedido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        2272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', redirect_url: $json.body.checkouts[0].payment_url, order_id: $('Validar + Build Payload').item.json.order_id }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "e0b5b398-2404-46c7-9799-9e82d0da5ca7",
      "name": "Responder OK → Frontend1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1280,
        2176
      ]
    },
    {
      "parameters": {
        "jsCode": "const res  = $input.first().json;\nconst body = res.body || {};\n\nlet errorMsg = 'Erro ao processar pagamento. Tente novamente.';\n\nif (body.message) {\n  errorMsg = body.message.includes('Authorization has been denied')\n    ? 'Erro de autenticação: verifique a Secret Key do Pagar.me.'\n    : body.message;\n}\n\nif (body.errors && Array.isArray(body.errors) && body.errors.length > 0) {\n  errorMsg = body.errors.map(e => e.message || e).join('; ');\n}\n\nreturn [{ json: { errorMsg, statusCode: res.statusCode, rawBody: body } }];\n"
      },
      "id": "bffb1f56-e01e-46c5-9af5-2dad1ce263fe",
      "name": "Extrair Erro Pagar.me1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        2368
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: $json.errorMsg }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "8afea1d4-4ac2-41f7-a955-9466dc4eb0fc",
      "name": "Responder Erro → Frontend1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1504,
        2368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-status-ok",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4e1fa5b7-73b9-47f2-a8de-eb7ceb1726cf",
      "name": "Checkout OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1056,
        2272
      ]
    },
    {
      "parameters": {
        "content": "## notificaciniones desde pagarme \n\n**Eventos seleccionados: 4**\n\n| Evento | Sección | Cuándo dispara |\n|--------|---------|----------------|\n| `order.paid` | PEDIDO | Pedido completo confirmado como pago |\n| `charge.paid` | COBRANÇA | Cobro individual procesado (Pix o tarjeta) |\n| `checkout.closed` | CHECKOUT | Checkout fue cerrado después del pago |\n| `checkout.canceled` | CHECKOUT | Checkout fue cancelado o expiró |\n\n**Por qué agregar los de checkout:**\n\n`checkout.closed` llega cuando el usuario completó el pago y el checkout se cerró — es un segundo confirmador además de `order.paid`. En flujos de Pix especialmente, a veces `checkout.closed` llega antes que `order.paid`.\n\n`checkout.canceled` es útil para marcar la reserva como `CANCELED` en la tabla cuando el usuario abandonó el pago o el link expiró — sin esto esa fila queda en `PENDING` para siempre.\n\n**Lógica en n8n con los 4 eventos:**\n\n```\ncharge.paid      → generar ticket + WhatsApp\norder.paid       → generar ticket + WhatsApp (si no fue procesado ya)\ncheckout.closed  → generar ticket + WhatsApp (respaldo)\ncheckout.canceled → actualizar tabla a CANCELED, no enviar WhatsApp\n```\n\nEl filtro de idempotencia en n8n va a evitar que se mande el WhatsApp dos veces si llegan `charge.paid` y `order.paid` para el mismo pedido.\n\n¿Genero el JSON del Fluxo 2 con esta lógica completa?",
        "height": 576,
        "width": 656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1888,
        4368
      ],
      "typeVersion": 1,
      "id": "5cfac491-6fc5-4708-b818-cc8d49531788",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pagarme-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dfc33f19-1673-4b79-a2c1-ac99c335101f",
      "name": "Webhook Pagar.me",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        144,
        3072
      ],
      "webhookId": "pagarme-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════════\n// CONFIGURAÇÃO Evolution API (WhatsApp)\n// ══════════════════════════════════════════════════════════\nconst EVOLUTION_URL      = 'https://evolution.SEU-DOMINIO.com';\nconst EVOLUTION_API_KEY  = 'SUA_API_KEY_EVOLUTION';\nconst EVOLUTION_INSTANCE = 'SUA_INSTANCIA';\n// ══════════════════════════════════════════════════════════\n\nconst payload = $input.first().json.body || $input.first().json;\nconst eventType = payload.type || '';\n\nconsole.log('[Pagar.me Webhook] type:', eventType);\n\n// Eventos aceitos\nconst PAID_EVENTS = ['order.paid', 'charge.paid', 'checkout.closed'];\nconst CANCEL_EVENTS = ['checkout.canceled'];\n\nconst isPaid   = PAID_EVENTS.some(e => eventType === e);\nconst isCanceled = CANCEL_EVENTS.some(e => eventType === e);\n\nif (!isPaid && !isCanceled) {\n  throw new Error('Evento ignorado: ' + eventType);\n}\n\n// Extrai dados do pedido — estrutura varia por tipo de evento\nlet order    = {};\nlet orderId  = '';\nlet phone    = '';\nlet customer = {};\nlet totalCentavos = 0;\n\nif (eventType === 'order.paid') {\n  order    = payload.data || {};\n  orderId  = order.code  || order.id || '';\n  customer = order.customer || {};\n  phone    = (order.metadata && order.metadata.phone) ? order.metadata.phone : '';\n  totalCentavos = order.amount || 0;\n}\n\nif (eventType === 'charge.paid') {\n  const charge = payload.data || {};\n  order    = charge.order || {};\n  orderId  = order.code  || charge.code || '';\n  customer = charge.customer || order.customer || {};\n  phone    = (order.metadata && order.metadata.phone)\n    ? order.metadata.phone\n    : (charge.metadata && charge.metadata.phone) || '';\n  totalCentavos = charge.amount || order.amount || 0;\n}\n\nif (eventType === 'checkout.closed') {\n  const checkout = payload.data || {};\n  order    = checkout.order || {};\n  orderId  = order.code   || checkout.code || '';\n  customer = checkout.customer || order.customer || {};\n  phone    = (checkout.metadata && checkout.metadata.phone)\n    ? checkout.metadata.phone\n    : (order.metadata && order.metadata.phone) || '';\n  totalCentavos = checkout.amount || order.amount || 0;\n}\n\nif (eventType === 'checkout.canceled') {\n  const checkout = payload.data || {};\n  order   = checkout.order || {};\n  orderId = order.code || checkout.code || '';\n  return [{ json: { action: 'CANCEL', orderId, eventType } }];\n}\n\n// Filtro: só processa pedidos do Tannat\nconst source = (order.metadata && order.metadata.source) || '';\nif (source && source !== 'landing_tannat') {\n  throw new Error('Pedido ignorado — source: ' + source);\n}\n\nif (!orderId) throw new Error('Webhook sem order_id — ignorado');\nif (!phone)   throw new Error('Webhook sem phone no metadata — order: ' + orderId);\n\nconst phoneClean = phone.replace(/[^0-9]/g, '');\nconst fullName   = customer.name  || 'Cliente';\nconst firstName  = fullName.split(' ')[0];\nconst totalReais = (totalCentavos / 100).toFixed(2).replace('.', ',');\nconst paidAt     = new Date().toISOString();\n\nreturn [{\n  json: {\n    action:          'PAY',\n    eventType,\n    orderId,\n    phone:           phoneClean,\n    fullName,\n    firstName,\n    totalReais,\n    paidAt,\n    evolutionUrl:    EVOLUTION_URL,\n    evolutionApiKey: EVOLUTION_API_KEY,\n    evolutionInst:   EVOLUTION_INSTANCE\n  }\n}];\n"
      },
      "id": "76c2635b-ff4d-4992-9662-5943731adc8a",
      "name": "Extrair Dados + Filtrar Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        3152
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "PAY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f63f81d4-189a-4936-9d1a-e8d263dfe3fb",
      "name": "PAY ou CANCEL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        624,
        3152
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "G54MoIeu3HbdTkhn",
          "mode": "list",
          "cachedResultName": "pagarme reservas",
          "cachedResultUrl": "/projects/0NEY04N1YceyjALO/datatables/G54MoIeu3HbdTkhn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.orderId }}",
            "status": "CANCELED"
          },
          "matchingColumns": [
            "order_id"
          ],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "type": "string",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "readOnly": false
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ebcc20c7-5921-4113-9275-cd33557d99c0",
      "name": "Tabela — Atualizar CANCELED",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        864,
        3296
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "G54MoIeu3HbdTkhn",
          "mode": "list",
          "cachedResultName": "pagarme reservas",
          "cachedResultUrl": "/projects/0NEY04N1YceyjALO/datatables/G54MoIeu3HbdTkhn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.orderId }}",
            "status": "PAID",
            "ticket_code": "={{ $json.ticketCode }}",
            "paid_at": "={{ $json.paidAt }}"
          },
          "matchingColumns": [
            "order_id"
          ],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "type": "string",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "readOnly": false
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            },
            {
              "id": "ticket_code",
              "displayName": "ticket_code",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            },
            {
              "id": "paid_at",
              "displayName": "paid_at",
              "type": "string",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "readOnly": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cd24bc9c-dbc6-4b93-a88a-dfcb9a66bdcf",
      "name": "Tabela — Atualizar PAID",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1104,
        3056
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "12c96a27-e5e3-4462-b04f-fe3b2f6b0f96",
      "name": "Responder Final",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1584,
        3056
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "733c1b35-7d9d-49ad-a24a-a7b6ba469875",
      "name": "Responder 200 a Pagar.me1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        384,
        2928
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst data   = $input.first().json;\n\nconst ticketCode = 'TKT-' + crypto.randomBytes(4).toString('hex').toUpperCase();\n\nconst qrContent  = `Evento: Tannat y Cordero SP | Ticket: ${ticketCode} | Pedido: ${data.orderId}`;\nconst qrImageUrl = `https://api.qrserver.com/v1/create-qr-code/?size=400x400&margin=20&data=${encodeURIComponent(qrContent)}`;\n\nconst whatsappMsg = [\n  `🍷 *¡Tu reserva está confirmada!*`,\n  ``,\n  `Hola ${data.firstName}, todo listo para`,\n  `*Tannat y Cordero en São Paulo* 🥩`,\n  ``,\n  `🎟 *Tu código de entrada:*`,\n  `\\`${ticketCode}\\``,\n  ``,\n  `💰 Pagado: R$${data.totalReais} BRL`,\n  `📍 Itaim Bibi, São Paulo`,\n  ``,\n  `Presentá este código o el QR adjunto en la entrada del evento.`,\n  ``,\n  `_¡Nos vemos pronto!_ 🙌`\n].join('\\n');\n\nreturn [{\n  json: {\n    ...data,\n    ticketCode,\n    qrImageUrl,\n    whatsappMsg\n  }\n}];\n"
      },
      "id": "f43df404-348f-4436-9712-3f0d13f41ef7",
      "name": "Gerar Ticket + QR + Mensagem1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        3056
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gerar Ticket + QR + Mensagem1').item.json.evolutionUrl }}/message/sendText/{{ $('Gerar Ticket + QR + Mensagem1').item.json.evolutionInst }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Gerar Ticket + QR + Mensagem1').item.json.evolutionApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Gerar Ticket + QR + Mensagem1').item.json.phone, textMessage: { text: $('Gerar Ticket + QR + Mensagem1').item.json.whatsappMsg }, options: { delay: 1200, presence: 'composing' } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c8d40b3b-475e-41d2-9417-e62739b79ee9",
      "name": "WhatsApp — Enviar Texto1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        2976
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Gerar Ticket + QR + Mensagem1').item.json.evolutionUrl }}/message/sendMedia/{{ $('Gerar Ticket + QR + Mensagem1').item.json.evolutionInst }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Gerar Ticket + QR + Mensagem1').item.json.phone, mediaMessage: { mediatype: 'image', media: $('Gerar Ticket + QR + Mensagem1').item.json.qrImageUrl, caption: '🎟 Tu QR de entrada — ' + $('Gerar Ticket + QR + Mensagem1').item.json.ticketCode } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "58264f0e-b613-4ce5-9cb3-bde803f216a9",
      "name": "WhatsApp — Enviar QR1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        3136
      ]
    },
    {
      "parameters": {
        "content": "## El fluxo tiene esta lógica:\nWebhook Pagar.me\n  ├── Responder 200 inmediatamente (Pagar.me no espera)\n  └── Extrair Dados + Filtrar Evento\n        ├── Ignora todo lo que no sea order.paid / charge.paid\n        │   / checkout.closed / checkout.canceled\n        ├── Filtra solo pedidos con source = landing_tannat\n        └── PAY ou CANCEL?\n              ├── PAY → Gerar Ticket + QR → Atualizar PAID\n              │         → WhatsApp Texto + QR\n              └── CANCEL → Atualizar CANCELED (sin WhatsApp)",
        "height": 272,
        "width": 656,
        "color": "#879B22"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1888,
        3184
      ],
      "typeVersion": 1,
      "id": "43b12489-c47e-4ecd-b63d-e8a27305c08d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Veo el problema. El checkout de Pagar.me está pidiendo **dirección de facturación (CEP, Logradouro, Bairro, etc.)** porque el campo `billing_address_editable: true` está en el payload y además `required_fields` incluye `billing.address`.\n\nEsto viene de la respuesta anterior que vimos:\n```json\n\"billing_address_editable\": true,\n\"required_fields\": [\n  \"customer.email\",\n  \"customer.document\", \n  \"customer.mobile_phone\",\n  \"customer.name\",\n  \"billing.address\"   ← este es el culpable\n]\n```\n\n**La solución:** mandar una dirección de billing hardcodeada en el payload para que Pagar.me no la pida al usuario. Agrega esto en el `checkout` dentro del `orderPayload` en n8n:\n\n```js\ncheckout: {\n  customer_editable:          false,\n  skip_checkout_success_page: true,\n  accepted_payment_methods:   ['credit_card', 'pix'],\n  success_url:                SUCCESS_URL,\n  billing_address_editable:   false,   // ← agrega esto\n  billing_address: {                   // ← y esto\n    line_1:  'Av. Brigadeiro Faria Lima, 2369',\n    line_2:  'Itaim Bibi',\n    zip_code: '01452922',\n    city:    'São Paulo',\n    state:   'SP',\n    country: 'BR'\n  },\n  pix: { expires_in: 900 },\n  credit_card: {\n    capture:              true,\n    statement_descriptor: 'SENDEROS SP',\n    installments: [{ number: 1, total: totalCentavos }]\n  }\n}\n```\n\nCon `billing_address_editable: false` y la dirección precargada, Pagar.me salta esa pantalla completamente y va directo a **Pagamento**. La dirección del evento sirve perfectamente como billing address para este caso.",
        "height": 400,
        "width": 656,
        "color": "#B82E2E"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1888,
        3488
      ],
      "typeVersion": 1,
      "id": "9ab9467b-563f-482f-aef4-59782128c5fa",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Valores hardcodeados en el nodo que hay que actualizar antes de ir a producción:\n\n**Sección CONFIGURAÇÃO:**\n- `PAGARME_SECRET_KEY` — `'sk_G5ajdgqcpcm4q'` → tu secret key real completa\n- `UNIT_PRICE_CENTAVOS` — `15000` → R$150,00 ✓ correcto si es ese el precio\n- `EVENT_NAME` — `'Tannat y Cordero en São Paulo'` ✓\n- `SUCCESS_URL` — `'https://SEU-DOMINIO.vercel.app/success'` → tu dominio real de Vercel\n- `MAX_QTY` — `10` ✓\n\n**Dentro de `billing_address`:**\n- `line_1` — `'Av. Brigadeiro Faria Lima, 2369'` → dirección real del evento\n- `line_2` — `'Itaim Bibi'` → confirmar\n- `zip_code` — `'01452922'` → CEP real del venue\n- `city` — `'São Paulo'` ✓\n- `state` — `'SP'` ✓\n\n**Dentro de `credit_card`:**\n- `statement_descriptor` — `'SENDEROS SP'` → lo que aparece en el extracto del cliente ✓\n\n**Lo que viene del formulario y NO está hardcodeado** — estos llegan bien desde el body:\n- `first_name: 'Never'` ✓\n- `last_name: 'Navarro'` ✓\n- `email: 'it@gmail.com'` ✓\n- `phone: '+59895435644'` ✓\n- `document: '80252166914'` ✓\n- `quantity: 1` ✓\n- `country: 'BR'` ✓\n\n¿Cuáles necesitas actualizar ahora?",
        "height": 384,
        "width": 656,
        "color": "#CCFD1C"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1888,
        3936
      ],
      "typeVersion": 1,
      "id": "4ec6d4cb-a8a6-4362-b7b4-6e651f8e8c88",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## alterar somente esta seção\n// ══════════════════════════════════════════════════════════\nconst PAGARME_SECRET_KEY   = 'sk_G5ajdgqcpcm4q';\nconst PAGARME_API_URL      = 'https://api.pagar.me/core/v5/orders';\nconst SUCCESS_URL          = 'https://SEU-DOMINIO.vercel.app/success';\nconst MAX_QTY              = 10;\n// ══════════════════════════════════════════════════════════\n\nconst body = $input.first().json.body || $input.first().json;\n\n// Validações\nif (!body.email || !body.email.includes('@'))           throw new Error('Email inválido');\nif (!body.first_name || body.first_name.trim() === '')  throw new Error('Falta nome');\nif (!body.quantity)                                      throw new Error('Falta quantidade');\nif (!body.amount || body.amount <= 0)                   throw new Error('Monto inválido');\n\nconst qty           = Math.min(Math.max(parseInt(body.quantity, 10) || 1, 1), MAX_QTY);\nconst unitPrice     = Math.round((body.amount / body.quantity) * 100); // converte a centavos\nconst totalCentavos = unitPrice * qty;\nconst eventName     = body.event || 'Evento Senderos';\nconst currency      = body.currency || 'BRL';\n\n// IDs\nconst ts      = Date.now();\nconst rand    = Math.random().toString(36).slice(2, 6).toUpperCase();\nconst orderId = 'TANNAT-' + (body.country || 'BR') + '-' + ts + '-' + rand;\n\n// Customer\nconst fullName = (body.first_name + ' ' + (body.last_name || '')).trim();\nconst docClean = body.document ? body.document.replace(/[^0-9]/g, '') : null;\n\n// Telefone — detecta country code do próprio número\nconst phoneRaw    = (body.phone || '').replace(/\\s|-/g, '');\nconst phoneDigits = phoneRaw.replace(/[^0-9]/g, '');\n\nconst phonePrefixes = [\n  { code: '598', country: 'UY' },\n  { code: '549', country: 'AR' },\n  { code: '56',  country: 'CL' },\n  { code: '57',  country: 'CO' },\n  { code: '52',  country: 'MX' },\n  { code: '51',  country: 'PE' },\n  { code: '54',  country: 'AR' },\n  { code: '55',  country: 'BR' },\n];\n\nlet phoneCountryCode = '55';\nlet phoneLocal       = phoneDigits;\n\nif (phoneRaw.startsWith('+') || phoneDigits.length > 11) {\n  for (const prefix of phonePrefixes) {\n    if (phoneDigits.startsWith(prefix.code)) {\n      phoneCountryCode = prefix.code;\n      phoneLocal       = phoneDigits.substring(prefix.code.length);\n      break;\n    }\n  }\n}\n\nconst areaCode = phoneLocal.substring(0, 2);\nconst phoneNum = phoneLocal.substring(2);\n\nconst selectedCountry = body.country || 'BR';\n\n// Payload Pagar.me\nconst orderPayload = {\n  code: orderId,\n  items: [{\n    amount:      unitPrice,\n    description: eventName,\n    quantity:    qty\n  }],\n  customer: {\n    name:          fullName,\n    email:         body.email.toLowerCase().trim(),\n    type:          docClean ? 'individual' : undefined,\n    document:      docClean || undefined,\n    document_type: docClean ? 'CPF' : undefined,\n    phones: {\n      mobile_phone: {\n        country_code: phoneCountryCode,\n        area_code:    areaCode,\n        number:       phoneNum\n      }\n    }\n  },\n  payments: [{\n    payment_method: 'checkout',\n    amount: totalCentavos,\n    checkout: {\n      customer_editable:          false,\n      skip_checkout_success_page: true,\n      accepted_payment_methods:   ['credit_card', 'pix'],\n      success_url:                SUCCESS_URL,\n      billing_address_editable:   false,\n      billing_address: {\n        line_1:   'Av. Brigadeiro Faria Lima, 2369',\n        line_2:   'Itaim Bibi',\n        zip_code: '01452922',\n        city:     'São Paulo',\n        state:    'SP',\n        country:  'BR'\n      },\n      pix: { expires_in: 900 },\n      credit_card: {\n        capture:              true,\n        statement_descriptor: 'SENDEROS SP',\n        installments: [{ number: 1, total: totalCentavos }]\n      }\n    }\n  }],\n  metadata: {\n    source:   'landing_tannat',\n    order_id: orderId,\n    country:  selectedCountry,\n    phone:    body.phone || ''\n  }\n};\n\n// Auth Basic (sk_xxx + ':')\nconst authB64 = Buffer.from(PAGARME_SECRET_KEY + ':').toString('base64');\n\n// Linha para tabela n8n\nconst tableRow = {\n  order_id:    orderId,\n  full_name:   fullName,\n  email:       body.email.toLowerCase().trim(),\n  phone:       body.phone || '',\n  country:     selectedCountry,\n  quantity:    qty,\n  amount:      totalCentavos,\n  currency:    currency,\n  status:      'PENDING',\n  ticket_code: '',\n  paid_at:     '',\n  created_at:  new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    api_url:     PAGARME_API_URL,\n    auth_header: 'Basic ' + authB64,\n    order_body:  orderPayload,\n    order_id:    orderId,\n    tableRow\n  }\n}];\n```\n\nLos cambios respecto a la versión anterior son tres. `UNIT_PRICE_CENTAVOS` y `EVENT_NAME` salieron de la sección de configuración. El precio ahora se calcula como `(body.amount / body.quantity) * 100` para convertir de reales a centavos — con `amount: 150` y `quantity: 1` resulta en `15000` centavos. El `eventName` toma `body.event` y el `currency` toma `body.currency`. Si el sitio manda `amount: 150`, Pagar.me va a recibir `15000` centavos correctamente.",
        "height": 416,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        3920
      ],
      "typeVersion": 1,
      "id": "d481dd00-d066-4dab-a852-ac382a99a65d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## solucion hardcodie esas informaciones para saltar esos pasos ",
        "height": 384,
        "width": 320,
        "color": "#B5A70D"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        3488
      ],
      "typeVersion": 1,
      "id": "8df03e7a-b7bc-494c-836a-6924dc75f596",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## problema para crear webhook desde pagarme mande solictud de solucion \n\nSubject: Bug no formulário de Webhooks — erro 412 e encerramento de sessão\n\nOlá, equipe de suporte do Pagar.me,\n\nEstou enfrentando um problema crítico ao tentar configurar um webhook na minha conta (ID: acc_bwqjx06carfnM5PJ — Senderos Uruguai).\n\nAo acessar Configurações → Webhooks → Adicionar Webhook, preencher a URL, selecionar os eventos e clicar em Salvar, o sistema retorna o seguinte erro no console do navegador:\n\n• HTTP 412 Precondition Failed no endpoint payments-api-gateway/webhook-settings\n• Uncaught TypeError: Invalid attempt to destructure non-iterable instance (WebhookConfigForm.vue:784)\n• Mensagem na tela: 'Alguma coisa deu errado' seguida de encerramento forçado da sessão\n\nJá testei em múltiplos navegadores (Chrome e Firefox) com cookies limpos e o erro persiste em todos.\n\nDevido a esse bug, não consigo registrar o webhook necessário para receber notificações de pagamento (order.paid, charge.paid) na minha integração. Isso está bloqueando completamente o fluxo de confirmação de pagamentos da minha aplicação.\n\nSolicito que a equipe técnica:\n1. Investigue o erro 412 no endpoint de webhook-settings para a conta acc_bwqjx06carfnM5PJ\n2. Se possível, registre manualmente o webhook com os seguintes dados enquanto o bug é corrigido:\n   • URL: https://n8n.axion380.com.br/webhook/pagarme-webhook\n   • Eventos: order.paid, charge.paid, checkout.closed, checkout.canceled\n   • Autenticação: Basic Auth (usuário: user)\n\nAguardo retorno.\n\nAtenciosamente,\nNever Navarro\nit@senderosgroup.com",
        "height": 608,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1456,
        4336
      ],
      "typeVersion": 1,
      "id": "6e557732-1e91-42d7-8750-9aed7141297e",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "id": "5db876c1-104b-417a-a9f4-3b741a370ede",
      "name": "▶ Testar Manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        4928
      ]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════════\n// DADOS DE TESTE — id: 23\n// ══════════════════════════════════════════════════════════\nreturn [{\n  json: {\n    order: {\n      id:        'or_test_23',\n      code:      'TANNAT-UY-1774131731449-08D0',\n      amount:    500,\n      status:    'paid',\n      closed_at: '2026-03-21T22:11:44Z',\n      customer: {\n        name:  'Cristian Safie',\n        email: 'cristian.safie@gmail.com'\n      },\n      metadata: {\n        source:   'landing_tannat',\n        order_id: 'TANNAT-UY-1774131731449-08D0',\n        country:  'UY',\n        phone:    '+59895435644'\n      }\n    },\n    skip: false\n  }\n}];"
      },
      "id": "8236f590-e3a9-4bff-8778-588349f4d004",
      "name": "Dados de Teste",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        4928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bb4f3299-6d40-4e34-9762-60135156a641",
      "name": "Tem pedidos?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        496,
        4496
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "G54MoIeu3HbdTkhn",
          "mode": "list",
          "cachedResultName": "pagarme reservas",
          "cachedResultUrl": "/projects/0NEY04N1YceyjALO/datatables/G54MoIeu3HbdTkhn"
        },
        "returnAll": true
      },
      "id": "7e2177a3-f4cf-4919-a4cb-bddb27738f93",
      "name": "Buscar na Tabela1",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        736,
        4560
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// Busca o order do nó que estiver disponível\nlet order;\ntry {\n  order = $('Filtrar Pedidos Tannat').item.json.order;\n} catch(e) {\n  try {\n    order = $('Dados de Teste').item.json.order;\n  } catch(e2) {\n    throw new Error('Nenhum nó de origem disponível');\n  }\n}\n\n// Busca todas as filas da tabela e filtra pelo order_id\nconst allRows  = $input.all();\nconst orderId  = order.code || order.id;\nconst tableRow = allRows.find(r => r.json.order_id === orderId)?.json || {};\n\nconsole.log('[Polling] Buscando order_id:', orderId);\nconsole.log('[Polling] Filas encontradas:', allRows.length);\nconsole.log('[Polling] tableRow:', JSON.stringify(tableRow));\n\n// Se já tem ticket_code na tabela — já foi processado, pula\nif (tableRow.ticket_code && tableRow.ticket_code !== '') {\n  console.log('[Polling] Já processado:', tableRow.order_id, tableRow.ticket_code);\n  return [{ json: { skip: true, reason: 'Já processado' } }];\n}\n\nconst metadata   = order.metadata || {};\nconst phone      = (metadata.phone || '').replace(/[^0-9]/g, '');\nconst customer   = order.customer || {};\nconst fullName   = customer.name || tableRow.full_name || 'Cliente';\nconst firstName  = fullName.split(' ')[0];\nconst totalReais = ((order.amount || 0) / 100).toFixed(2).replace('.', ',');\nconst paidAt     = order.closed_at || new Date().toISOString();\n\nif (!phone) throw new Error('Sem phone no metadata — order: ' + orderId);\n\nconst ticketCode = 'TKT-' + crypto.randomBytes(4).toString('hex').toUpperCase();\nconst qrContent  = `Evento: Tannat y Cordero SP | Ticket: ${ticketCode} | Pedido: ${orderId}`;\nconst qrImageUrl = `https://api.qrserver.com/v1/create-qr-code/?size=400x400&margin=20&data=${encodeURIComponent(qrContent)}`;\n\nconst whatsappMsg = [\n  `🍷 *¡Tu reserva está confirmada!*`,\n  ``,\n  `Hola ${firstName}, todo listo para`,\n  `*Tannat y Cordero en São Paulo* 🥩`,\n  ``,\n  `🎟 *Tu código de entrada:*`,\n  `\\`${ticketCode}\\``,\n  ``,\n  `💰 Pagado: R$${totalReais} BRL`,\n  `📍 Itaim Bibi, São Paulo`,\n  ``,\n  `Presentá este código o el QR adjunto en la entrada del evento.`,\n  ``,\n  `_¡Nos vemos pronto!_ 🙌`\n].join('\\n');\n\nreturn [{\n  json: {\n    skip:        false,\n    orderId,\n    phone,\n    fullName,\n    firstName,\n    totalReais,\n    paidAt,\n    ticketCode,\n    qrImageUrl,\n    whatsappMsg\n  }\n}];"
      },
      "id": "6725c33f-14fe-44a4-8d8c-537dc0a3fd46",
      "name": "Gerar Ticket + QR + Mensagem2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        4560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-skip2",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "191af1d2-998c-4a22-9e68-536ed8c72dff",
      "name": "Já processado?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1216,
        4560
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "G54MoIeu3HbdTkhn",
          "mode": "list",
          "cachedResultName": "pagarme reservas",
          "cachedResultUrl": "/projects/0NEY04N1YceyjALO/datatables/G54MoIeu3HbdTkhn"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "order_id",
              "keyValue": "=={{ $json.orderId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.orderId }}",
            "status": "PAID",
            "ticket_code": "={{ $json.ticketCode }}",
            "paid_at": "={{ $json.paidAt }}"
          },
          "matchingColumns": [
            "order_id"
          ],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ticket_code",
              "displayName": "ticket_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "paid_at",
              "displayName": "paid_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b751a003-fe92-4575-832d-a217bdbf9508",
      "name": "Tabela — Atualizar PAID2",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1520,
        4464
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Maya",
        "remoteJid": "={{ $('Gerar Ticket + QR + Mensagem2').item.json.phone }}",
        "messageText": "={{ $('Gerar Ticket + QR + Mensagem2').item.json.whatsappMsg }}",
        "options_message": {}
      },
      "id": "5f3dae70-14f2-4e06-8706-f76f657c11a0",
      "name": "WhatsApp — Enviar Texto2",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1808,
        4352
      ],
      "credentials": {
        "evolutionApi": {
          "id": "6r5z9RoXouEeeobi",
          "name": "Evolution Maya"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "Maya",
        "remoteJid": "={{ $('Gerar Ticket + QR + Mensagem2').item.json.phone }}",
        "media": "={{ $('Gerar Ticket + QR + Mensagem2').item.json.qrImageUrl }}",
        "caption": "={{ '🎟 Tu QR de entrada — ' + $('Gerar Ticket + QR + Mensagem2').item.json.ticketCode }}",
        "options_message": {}
      },
      "id": "ff6c07d1-4d87-4ce7-a85a-d2ef86587df1",
      "name": "WhatsApp — Enviar QR2",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1792,
        4544
      ],
      "credentials": {
        "evolutionApi": {
          "id": "6r5z9RoXouEeeobi",
          "name": "Evolution Maya"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════════\n// CONFIGURAÇÃO — alterar somente esta seção\n// ══════════════════════════════════════════════════════════\nconst PAGARME_SECRET_KEY = 'sk_G5ajdgqcpyuyPm4q';\nconst PAGARME_API_URL    = 'https://api.pagar.me/core/v5/orders';\n// ══════════════════════════════════════════════════════════\n\n// Auth Basic — mesmo padrão do Validar + Build Payload\nconst authB64 = Buffer.from(PAGARME_SECRET_KEY + ':').toString('base64');\n\nreturn [{\n  json: {\n    api_url:     PAGARME_API_URL + '?status=paid&size=20',\n    auth_header: 'Basic ' + authB64\n  }\n}];\n"
      },
      "id": "556ca161-734c-4efa-9455-77142bb6d9b2",
      "name": "Preparar Credenciais",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        4480
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "cf34f3d1-0bd9-450d-acd4-6fd891496ee8",
      "name": "A cada 5 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -416,
        4480
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.api_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.auth_header }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "ca6a144b-4206-47e5-a277-6ec005172bc4",
      "name": "Buscar Pedidos PAID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        4480
      ]
    },
    {
      "parameters": {
        "jsCode": "const res    = $input.first().json;\nconst orders = (res.body && res.body.data) ? res.body.data : [];\n\nconsole.log('[Polling] Total pedidos paid:', orders.length);\n\nconst tannat = orders.filter(o => {\n  const meta = o.metadata || {};\n  return meta.source === 'landing_tannat';\n});\n\nconsole.log('[Polling] Pedidos Tannat:', tannat.length);\n\nif (tannat.length === 0) {\n  return [{ json: { skip: true, message: 'Nenhum pedido Tannat' } }];\n}\n\nreturn tannat.map(order => ({ json: { order, skip: false } }));\n"
      },
      "id": "8ef15578-1da5-4d37-933c-8c942d363f90",
      "name": "Filtrar Pedidos Tannat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        4480
      ]
    },
    {
      "parameters": {
        "height": 1136,
        "width": 2864,
        "color": "#CB5757"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        4096
      ],
      "typeVersion": 1,
      "id": "734e95e9-f940-4474-b325-bc865aebdc51",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## pendiente consfiguarar webhook que noe sta repondiendo bine la creacion ",
        "width": 432,
        "color": "#D4E119"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        3856
      ],
      "typeVersion": 1,
      "id": "81d089ae-a6ca-47b4-bbca-521fd272f927",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {
    "Webhook Entrada": [
      {
        "json": {
          "headers": {
            "host": "n8n.axion380.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
            "content-length": "199",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-ES,es;q=0.9",
            "content-type": "application/json",
            "origin": "https://tannat-y-cordero-en-s-o-paulo.vercel.app",
            "priority": "u=1, i",
            "referer": "https://tannat-y-cordero-en-s-o-paulo.vercel.app/",
            "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "190.135.233.23",
            "x-forwarded-host": "n8n.axion380.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e30b3f9fc526",
            "x-real-ip": "190.135.233.23"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "tannat_cordero_sp",
            "first_name": "Never",
            "last_name": "Navarro",
            "email": "it@gmail.com",
            "phone": "+59895435644",
            "country": "BR",
            "document": "80252166914",
            "quantity": 1,
            "amount": 5,
            "currency": "BRL"
          },
          "webhookUrl": "https://n8n.axion380.com.br/webhook/evento-reserva",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook Entrada": {
      "main": [
        [
          {
            "node": "Validar + Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar + Build Payload": {
      "main": [
        [
          {
            "node": "Tabela — Inserir PENDING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tabela — Inserir PENDING": {
      "main": [
        [
          {
            "node": "Pagar.me — Criar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pagar.me — Criar Pedido": {
      "main": [
        [
          {
            "node": "Checkout OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Erro Pagar.me1": {
      "main": [
        [
          {
            "node": "Responder Erro → Frontend1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checkout OK?": {
      "main": [
        [
          {
            "node": "Responder OK → Frontend1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrair Erro Pagar.me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Pagar.me": {
      "main": [
        [
          {
            "node": "Responder 200 a Pagar.me1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extrair Dados + Filtrar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados + Filtrar Evento": {
      "main": [
        [
          {
            "node": "PAY ou CANCEL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAY ou CANCEL?": {
      "main": [
        [
          {
            "node": "Gerar Ticket + QR + Mensagem1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tabela — Atualizar CANCELED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tabela — Atualizar PAID": {
      "main": [
        [
          {
            "node": "WhatsApp — Enviar Texto1",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp — Enviar QR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Ticket + QR + Mensagem1": {
      "main": [
        [
          {
            "node": "Tabela — Atualizar PAID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp — Enviar Texto1": {
      "main": [
        [
          {
            "node": "Responder Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶ Testar Manualmente": {
      "main": [
        [
          {
            "node": "Dados de Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados de Teste": {
      "main": [
        [
          {
            "node": "Buscar na Tabela1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem pedidos?1": {
      "main": [
        [
          {
            "node": "Buscar na Tabela1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na Tabela1": {
      "main": [
        [
          {
            "node": "Gerar Ticket + QR + Mensagem2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Ticket + QR + Mensagem2": {
      "main": [
        [
          {
            "node": "Já processado?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já processado?1": {
      "main": [
        [
          {
            "node": "Tabela — Atualizar PAID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tabela — Atualizar PAID2": {
      "main": [
        [
          {
            "node": "WhatsApp — Enviar Texto2",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp — Enviar QR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp — Enviar QR2": {
      "main": [
        []
      ]
    },
    "Preparar Credenciais": {
      "main": [
        [
          {
            "node": "Buscar Pedidos PAID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A cada 5 minutos": {
      "main": [
        [
          {
            "node": "Preparar Credenciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pedidos PAID": {
      "main": [
        [
          {
            "node": "Filtrar Pedidos Tannat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Pedidos Tannat": {
      "main": [
        [
          {
            "node": "Tem pedidos?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "57e0171e-51d3-4b16-a07e-2955d7d2314b",
  "meta": {
    "instanceId": "48879120a3f3dc46e2394aadd0f93e174d47f6eef6bd3799c4f575c713076dca"
  },
  "id": "S5R0AKmUFZlqWoq0",
  "tags": []
}